.remote-angular-logo {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.angular-link {
  text-align: center;
}

.angular-logo {
  width: 80%;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em rgba(230, 97, 251, 0.67));
  }
}

.increment-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em 0.2em;

  &:hover {
    border-color: rgb(230, 97, 251);
  }
}
